@font-face {
  font-family: "iconfont";
  /* Project id 4271880 */
  src: url('iconfont.woff2?t=1695962844657') format('woff2'),
    url('iconfont.woff?t=1695962844657') format('woff'),
    url('iconfont.ttf?t=1695962844657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wo:before {
  content: "\e663";
  font-size: 3rem;
}

.icon-jiqiren:before {
  content: "\e70e";
  font-size: 3rem;
}