* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 74, 87);
}

a {
    text-decoration: none;
}

/* 顶部表情 */
.header {
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 10%;
    border-radius: 50%;
    border: 0.5rem solid aliceblue;
    background-color: rgb(51, 63, 79);
}

/* 主体部分 */
.main {
    background-color: rgb(51, 63, 79);
    width: 80%;
    height: 70%;
    border-radius: 20px;
    position: relative;
    margin-top: -20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difficulty-container {
    display: flex;
    margin-top: 8rem;
    height: 5rem;
    width: 100%;
    justify-content: center;
    overflow: hidden;/
    /* border: 1px solid black; */
}

.main .difficulty-text {
    position: relative;
    top: 0;
    text-align: center;
    color: white;
    font-size: 4rem;
    line-height: 4rem;
    height: 12rem;
    width: 100%;
    /* border: 1px solid red; */
}


.main h2 {
    height: 30%;
    width: 60%;
    text-align: center;
    color: aliceblue;
}

input[type="range"] {
    appearance: none;
    margin-top: 4rem;
    width: 250px;
    height: 50px;
    background-color: rgb(166, 166, 166);
    border: 8px solid white;
    border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 60px;
    height: 60px;
    background-color: rgb(138, 44, 226);
    border-radius: 50%;
    border: 10px solid white;
}


/* play按钮 */
.main .play {
    width: 60%;
    height: 13%;
    border: 1px;
    border-radius: 20px;
    background-color: rgb(138, 44, 226);
    color: aliceblue;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    line-height: 5rem;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px rgb(97, 30, 160);
    margin-bottom: 2rem;
}

#play.touch-start {
    transform: scale(1.1);
    transition: 0.1s ease-out;
}

#play.untouch {
    transform: scale(1);
    transition: 0.1s ease-out;
}

/* 返回按钮 */
.back {
    width: 60%;
    height: 5%;
    margin-top: 5%;
    border: 1px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 1000;
    position: relative;
}

.back-container {
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow {
    margin-right: 10%;
    position: absolute;
    left: 30%;
}

.back.touch-start {
    transform: scale(0.9);
    transition: 0.1s ease-out;
}

.back.untouch {
    transform: scale(1);
    transition: 0.1s ease-out;
}