* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(6, 93, 156);
}

/* 比分板 */
#scoreBand {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    left: -35px;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    font-size: 20px;
    font-weight: 1000;
    padding-top: 7px;
}

#scoreBand .red {
    color: red;
}

#scoreBand .blue {
    color: blue;
}

/* 退出按钮 */
#exit {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    right: -35px;
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    padding-top: 10px;
    font-weight: 1000;
}

#exit.touch {
    transform: rotate(-90deg) scale(1.2);
    transition: 0.1s ease-out;
}

/* 棋盘 */
#desk {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    /* border: 20px solid black; */
    position: absolute;

}

#blueGate {
    height: 20px;
    width: 30%;
    background-color: rgb(2, 172, 243);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border: 3px solid black;
}

#redGate {
    height: 20px;
    width: 30%;
    background-color: rgb(254, 95, 87);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    border: 3px solid black;
}

#redLine {
    width: 100%;
    height: 2%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.player {
    box-sizing: border-box;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    border: 10px solid black;
}

#blueBall {
    background-color: rgb(2, 172, 243);
    position: absolute;
    left: 0;
    top: 0;
    /* transform: translate(-50%, -10%); */
}

#redBall {
    background-color: rgb(254, 95, 87);
    /* left: 0;
    top: 0; */
    /* transform: translate(-50%, -90%); */
}

#blackBall {
    width: 4rem;
    height: 4rem;
    background-color: rgb(68, 75, 84);
    border-radius: 50%;
    z-index: 1;
    border: 10px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}